/* .layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
} */
/*
.content-wrapper {
  margin-left: 550px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  transition: margin-left 0.3s ease;
}

.main {
  background-color: blue;
  flex: 1;
  overflow: auto;
  padding: 10px;
} */
